.primary-header {
  margin-top: var(--size-600);
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-nav-toggle {
  display: none;
}

@media (max-width: 50em) {
  .primary-navigation {
    display: none;
  }

  .primary-navigation[data-visible] {
    display: block;
    position: fixed;
  }

  .mobile-nav-toggle {
    display: block;
    cursor: pointer;
    background: transparent;
    border: 0;
    padding: 0.5em;
  }

  .mobile-nav-toggle .icon-close {
    display: none;
  }
}
